.navbar {
  display: flex;
  background: #0d263b;
  padding: 25px 225px;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-title {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
  color: #ffffff;
  margin-left: 13px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-item {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 30px;
}

.btn {
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  color: #0061df;
  padding: 15px 20px;
  border: none;
  background: #ffffff;
  border-radius: 3px;
}


.text01{
  /* position: absolute; */
  width: 200px;
  height: 100px;
  margin-top: 387px;
  margin-left: 665px;

  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.text02{
  /* position: absolute; */
  width: 684px;
  height: 76px;
  margin-left: 418px;
  margin-top: -60px;
  
  /* 60 / Bold */
  
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 76px;
  text-align: center;
}

h3{
  /* position: absolute; */
  width: 29px;
  height: 20px;
  margin-left: 50px;

  /* 16 / SemiBold */

  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.h3{
    display: flex;
    margin-left: 630px;
    
}
.middle{
    margin-top: -100px;
}
.navbar02{
    display: flex;
    justify-content: space-between;
    border: 3px solid greenyellow;
    width: 70%;
    margin-left: 230px;
}

.h22{
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-left: 170px;
}
.left{
    display: flex;
    border: 1px solid red;
    margin-left: -120px;
}